* {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Jua', sans-serif;
}

.big-checkbox {
  width: 18px; 
  height: 18px;
}

#buttons {
  padding-bottom: 25px ;
  float: left;
}

#new-form {
  margin: 14px;
}

.parent{
  width: 100%;
}

.first {
  float: left;
  width: 39%;
}

.second{
  float: left;
  margin-left: 1%;
  width:13%;
}

.third{
  float: left;
  margin-left: 1%;
  width:13%;
}

.forth{
  float: left;
  margin-left: 1%;
  width:13%;
}

.fifth{
  float: right;
  margin-left: 1%;
  width:9%;
}

.btn-comp {
  margin-left: 8%;
}